body {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background-color: #5c6e7e;
}

h1 {
  font-size: 35pt;
  color: #464646;
}

h2 {
  font-size: 30pt;
  color: #bacad7;
}

h3 {
  color: rgb(169, 201, 215);
}

ul {
  color: rgb(114, 114, 114);
  font-size: x-large;
}

p {
  color: rgb(114, 114, 114);
  font-size: x-large;
}

p2 {
  color: rgb(175, 188, 199);
  font-size: x-large;
}

p3 {
    color: #5d6062;
    font-size: 17.5pt;
}

.fa {
  padding: 5%;
  font-size: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 33px;
  color: #5c6e7e;
}

.fa:hover {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Jura", serif;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 750px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #6d93b5;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #bac8d4;
  padding: 2px 16px;
  color: rgb(255, 249, 249);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Style tab links */
.tablink {
  background-color: #bfc0c5;
  color: rgb(97, 118, 141);
  font-family: "Noto Sans Mono", serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  position: sticky;
  top: 0%;
  z-index: 300;
}

.tablink:hover {
  background-color: #a4a9ae;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(255, 255, 255);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {
  background-color: #e0e4e7;
}

#Pets {
  background-color: #2a2d2f;
}

#Facts {
  background-color: #e0e4e7;
}

#Contact {
  background-color: #e0e4e7;
}

.cremea {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
